<p>
  <strong>Name:</strong>
  <%= @tenant.fname %>  <%= @tenant.lname %> 
</p>


<p>
  <strong>Account Number:</strong>
  <%= @tenant.id %>  
</p>
<p>
  <strong>Phone:</strong>
  <%= @tenant.phone %>  
</p>
 <button type="button" class="btn btn-outline btn-default">View Statement</button>
<table class="table">
    <tbody>
       
    
    </tbody>
</table>
