
    <div id="page-wrapper">

      <%= render 'notification_boxes' %>
    <!-- Notifications Boxes End -->
      <div class="row">
        <div class="col-lg-8">

     


      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->