
<div class="panel-body nested-fields">
  <div class="row">
    <div class="col-lg-12">
        <div class="col-lg-3">
          <div class="form-group">
            <label>Unit Name</label>
            <%= f.text_field :unit_name , class: "form-control" %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">

            <span class="name"> Category / Type: </span>
            <span class="value text-success">
	      <%= f.select :unit_type, options_for_select(Unittype.all.map(&:house_type)),{prompt: "Select Unit Type"}, {class: "form-control"} %>
	    </span>

          </div>
        </div>

        <div class="col-lg-3">
          <div class="form-group">
            <label>Rent Payable</label>
            <input class="form-control" placeholder="Rent Payable">
          </div>
        </div>


        <div class="glyphicon.glyphicon-remove">Cancel</div>

        <%= link_to_remove_association "Remove", f, class: 'btn btn-default btn-xs' %>
    </div>
  </div>
</div>