<table class="table">
    <tbody>
<p><strong>Account Number:</strong> <%= @property.id %></p>
<p><strong>Estate:</strong> <%= @property.estate %></p>
<p><strong>Property Number:</strong> <%= @property.plot_no%></p>
<p><strong>Landlord:</strong> <%= @property.id %></p>
       
    
    </tbody>
</table>
