<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Landlord', page_path('landlord') %></li>
<li><%= link_to 'Tenant', page_path('tenant') %></li>